<!-- Button trigger modal -->
<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
  Help!
</button>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel" style:"text-align:center">Help!</h4>
      </div>
      <div class="modal-body">
        In order to add venues to your list, click the link "Add Venues." Then, look through the list of venues and click "Add to Favorites." This will add that venue to your list!<br><br>

        To view the Event calender for a particular venue, click the "Events" button. <br><br>
        To remove a venue from your list, click the "Remove" button 
      </div>
      <div class="modal-footer">
        <button type="button" id="awesome" class="btn btn-default" data-dismiss="modal">Awesome!</button>
      </div>
    </div>
  </div>
</div>
